@font-face {font-family: retrograde;src: url(/fonts/retrograde.otf);}
@font-face {font-family: proximaNova-Regular;src: url(/fonts/proximaNova-Regular.otf);}
@font-face {font-family: proximaNova-Semibold;src: url(/fonts/proximaNova-Semibold.ttf);}

body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: proximaNova-Regular;
    background-color: #282828;
}
h1 {
    font-family: retrograde;
}
a {
    text-decoration: none;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
button {
    border: none;
    background: none;
}
header {
    color: #ffffff;
    padding-top: 2px;
    margin: 0px;
    text-align: center;
    height: 168px;
}
header:before {
    /* background-color: #95F1F6; */
    background-image:  url(/media/headerBkg.png), url(/media/headerBkgBkg.png);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    background-size: 1024px 168px,
        1024px 168px;
    background-position: 0px, 50px;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 170px;
    background-repeat:repeat-x;
    -webkit-animation: flow-right 160s linear infinite;
    -moz-animation: flow-right 160s linear infinite;
    animation: flow-right 160s linear infinite;
}
@keyframes flow-right {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 4096px, -1024px;
    }
}
@-webkit-keyframes flow-right {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 4096px, -1024px;
    }
}
header h1 {
    text-shadow: 1.5px 1.5px 2px black;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}
header h2 {
    color: white;
    text-shadow: 1.5px 1.5px 1px black;
    font-size: medium;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.logoimg {
    margin-bottom: -90px;
    z-index: 1;
    position: relative;
}
nav {
    background-color: #282828bb;
    color: #ffffff;
    text-shadow: 1px 1px 3px #2c2c2c;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    height: 30px;
}
nav div div {
    font-size: x-small;
}
nav div div h1 {
    margin-top: 10px;

}
nav .colL {
    float: left;
    width: 22%;
    text-align: right;
    white-space: nowrap;
}
nav .colC {
    float: none;
    width: 12%;
}
nav .colR {
    float: right;
    width: 22%;
    text-align: left;
}
hr {
    margin-top: -2px;
    color: white;
}
.dark {
    background-color: #282828;
    color: #eeeeee;
}
.dark a#fw {
    color: white;
}
.light {
    background-color: #4e4e4e;
    color: #eeeeee;
    border: 15px solid #282828;
    border-radius: 50px;
}
.light a#fw {
    color: purple;
}
section h1 {
    color: #ffffff;
    text-shadow: 1px 1px 3px #2c2c2c;
    margin: 0;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 30px;
    padding-bottom: 10px;
}
section hr.seperator {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: -10px;
    margin-bottom: 30px;
}
section.dark h2 {
    text-shadow: 1px 1px 3px #2c2c2c;
    font-size: xx-large;
    line-height: 200%;
}
section.light h2 {
    text-shadow: 0.5px 0.5px 1px #2c2c2c;
    font-size: xx-large;
    line-height: 200%;
}
section div.item {
    width: 100%;
    grid-row: 2;
    display: grid;
}
section p {
    margin: 0;
    margin-left: 6%;
    margin-right: 6%;
    padding-bottom: 35px;
    font-size: large;
    line-height: 150%;
}
section .colL p{
    margin: 0;
    padding-bottom: 15px;
}
section .img img {
    box-shadow: 0.5px 0.5px 3px #2c2c2c;
    transition: transform 0.2s; 
}
section .img img:hover { 
    transform: scale(1.05);
}
section#Portfolio{
    align-content: center;
    grid-auto-flow: column;
}
section h1 {
    grid-row: 1;
}
section#Portfolio .colL {
    display: grid;
    align-content: center;
    grid-row: 1;
    grid-column: 1;
    padding-left: 6%;
    padding-right: 2%;
    padding-bottom: 3%;
}
section#Portfolio .colR {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}
section#Portfolio .img {
    float: left;
}
section#Active_Projects .colL {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 30px;
    padding-left: 3%;
    padding-right: 2%;
    padding-bottom: 3%;
}
section#Active_Projects .colL2 {
    display: grid;
    align-content: center;
    grid-row: 1;
    grid-column: 1;
    padding-top: 30px;
    padding-left: 6%;
    padding-right: 2%;
    padding-bottom: 3%;
}
section#Active_Projects .colL div {
    padding-left: -12px;
    padding-right: -12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
section#Active_Projects .colR {
    display: grid;
    align-content: center;
    grid-row: 1;
    grid-column: 3;
    padding-left: 2%;
    padding-right: 6%;
    padding-bottom: 3%;
}
section#Active_Projects .colR2 {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 30px;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 3%;
}
section#Active_Projects .img {
    float: left;
}
section div.buttondiv {
    grid-column: 1;
    grid-row: 2;
}
section#Contact {
    display: grid;
    margin-bottom: 20px;
}
section#Contact h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.githubButton {
    background: linear-gradient(225deg, #944cce, #481898, #944cce);
    background-size: 300% 300%;
    border: 15px solid #282828;
    border-radius: 50px;
    transition: transform 0.2s; 
}
.light .githubButton {
    border: 15px solid #4e4e4e;
}
.devpostButton {
    background: linear-gradient(225deg, #5b79b4, #224054, #5b79b4);
    background-size: 300% 300%;
    border: 15px solid #282828;
    border-radius: 50px;
    transition: transform 0.2s; 
}
.light .devpostButton {
    border: 15px solid #4e4e4e;
}
.playButton {
    background: linear-gradient(225deg, #357eb9, #983db9, #357eb9);
    background-size: 300% 300%;
    border: 15px solid #282828;
    border-radius: 50px;
    transition: transform 0.2s; 
}
.light .playButton {
    border: 15px solid #4e4e4e;
}
.githubButton:hover, .devpostButton:hover, .playButton:hover{ 
    transform:scale(1.2);
    cursor: pointer;
}
@-webkit-keyframes colorCycle {
    0%{background-position:0% 50%}
    100%{background-position:300% 50%}
}
@-moz-keyframes colorCycle {
    0%{background-position:0% 50%}
    100%{background-position:300% 50%}
}
@keyframes colorCycle {
    0%{background-position:0% 50%}
    100%{background-position:300% 50%}
}